.wrapper {
  @apply flex items-center gap-x-[5px];

  @screen screenMax1280 {
    @apply order-1;
  }

  @screen screenMax768 {
    @apply w-full;
  }
}

.logo {
  @apply h-full w-[300px] fill-white transitionIcon;

  @screen screenMax1280 {
    @apply w-[260px];
  }

  @screen screenMin769 {
    @apply hover:fill-peach;
  }

  @screen screenMax490 {
    @apply w-[200px];
  }
}

.navbar {
  @apply w-full flex flex-col pt-[28px] pb-[120px];

  @screen screenMax768 {
    @apply pt-[24px];
  }
}

.menu {
  @apply flex flex-col gap-y-3 w-full;

  @screen screenMax768 {
    @apply top-[60px];
  }
}

.menuService {
  @apply border-b-[2px] border-t-[2px] border-white border-solid my-[19px] py-[19px];
}

.link {
  @apply flex items-center gap-x-[15px] w-full px-[20px] font-title font-bold text-white text-xl;
  transition: all 0.3s ease-in-out;

  @screen screenMax1366 {
    @apply text-lg;
  }

  @screen screenMin769 {
    @apply hover:bg-white hover:text-peach;
  }

  @screen screenMax768 {
    @apply text-base;
  }

  @screen screenMax490 {
    @apply text-sm;
  }
}

.linkActive {
  @apply flex items-center gap-x-[15px] w-full px-[20px] font-title font-bold  text-xl bg-white text-peach;
  transition: all 0.3s ease-in-out;

  @screen screenMax1366 {
    @apply text-lg;
  }

  @screen screenMax768 {
    @apply text-base;
  }

  @screen screenMax490 {
    @apply text-sm;
  }
}

// Contacts
.contacts {
  @apply flex flex-col items-start gap-y-[15px] w-full;
}

.contactLink {
  @apply flex items-center gap-x-[15px] mx-[20px] font-normal text-white text-base font-text;
  transition: all 0.3s ease-in-out;

  @screen screenMax1366 {
    @apply text-lg;
  }

  @screen screenMin769 {
    @apply hover:text-peach;
  }

  @screen screenMax768 {
    @apply text-base;
  }

  @screen screenMax490 {
    @apply text-sm;
  }
}
