.search {
  @apply relative flex items-center justify-between w-full max-w-[600px] h-[40px] text-base font-medium;

  @screen screenMax1280 {
    @apply order-3 my-0 mx-auto;
  }

  @screen screenMax1280 {
    @apply text-sm;
  }

  @screen screenMax768 {
    @apply order-2 my-0 mx-auto;
  }

  input {
    @apply max-w-[560px] w-full h-full px-[20px] border-[3px] border-solid border-transparent text-base  text-lightDark bg-white  focus:boxShadow focus:border-peach;
    border-radius: 10px 0px 0px 10px;
    transition: all 0.3s ease;

    @screen screenMax1366 {
    }

    @screen screenMax1280 {
      @apply px-[15px];
    }

    @screen screenMin769 {
      @apply hover:border-peach hover:boxShadow;
    }

    @screen screenMax768 {
      @apply max-w-full ml-[10px];
    }

    &::placeholder {
      @apply text-placeholder text-base font-bold;

      @screen screenMax1280 {
        @apply text-sm;
      }
    }
  }

  button {
    @apply flex items-center justify-center max-w-[60px] w-full h-full bg-peach cursor-pointer will-change-transform active:scale-99 transitionButton;
    border-radius: 0 10px 10px 0;

    @screen screenMin769 {
      @apply hover:bg-darkPeach;
    }

    svg {
      @apply fill-white w-[24px] h-[24px];
    }
  }
}

.emptySearch {
  @apply absolute bottom-[-40px] left-[25%] flex items-center justify-center h-[30px] w-[300px] bg-darkBlue rounded-[5px] text-peach font-bold transition-all;

  @apply screenMax768:bottom-[-20px] screenMax768:bg-transparent screenMax768:h-[20px];

  @apply screenMax490:left-[20%];
  @apply screenMax375:left-[10%];
}
