@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply relative font-title font-bold text-base text-lightDark bg-white;
}

img {
  display: block;
}

main {
  @apply grow py-[50px];

  @screen tablet {
    @apply py-[40px];
  }

  @screen mobile2XL {
    @apply py-[30px];
  }
}

button,
input,
select {
  border: none;
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  @apply bg-lightDark w-[8px];
}

::-webkit-scrollbar-thumb {
  @apply bg-peach rounded-[4px];
}

:-moz-focusring {
  outline: none;
}

.app {
  @apply flex flex-col min-h-[100vh];
}

.container {
  @apply max-w-[1475px] my-0 mx-auto px-[20px];

  @screen tablet {
    @apply px-[15px];
  }

  @screen mobile2XL {
    @apply px-[10px];
  }
}

.section {
  @apply pb-[50px];

  @screen tablet {
    @apply pb-[40px];
  }

  @screen mobile2XL {
    @apply pb-[30px];
  }
}

.swiper-pagination {
  bottom: 2% !important;
  height: 20px !important;
  //@include adaptive-value("height", 20, 10, 1);

  @media (max-width: em(560)) {
    bottom: 1% !important;
  }
  @media (max-width: em(375)) {
    bottom: 0 !important;
  }

  &-bullet {
    width: 12px;
    height: 12px;
    background-color: red;
    //@include adaptive-value-desktop("width", 12, 10, 1);
    //@include adaptive-value-desktop("height", 12, 10, 1);
    //background-color: $colorWhite;

    @media (max-width: em(1024)) {
      //@include adaptive-value-tablet("width", 10, 8, 0);
      //@include adaptive-value-tablet("height", 10, 8, 0);
    }

    @media (max-width: em(768)) {
      //@include adaptive-value-mobile("width", 8, 5, 0);
      //@include adaptive-value-mobile("height", 8, 5, 0);
    }

    @media (max-width: em(320)) {
      width: 5px;
      height: 5px;
      margin: 0 2px !important;
    }
  }
}
