@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply relative font-title font-bold text-base text-lightDark bg-white overflow-y-scroll;
}

img {
  display: block;
}

main {
  @apply grow py-[50px];

  @screen screenMax768 {
    @apply py-[40px];
  }

  @screen screenMax490 {
    @apply py-[30px];
  }
}

button,
input,
select {
  border: none;
  outline: none;
  background: transparent;
}

::-webkit-scrollbar {
  @apply bg-lightDark w-[8px];
}

::-webkit-scrollbar-thumb {
  @apply bg-peach rounded-[4px];
}

:-moz-focusring {
  outline: none;
}

.app {
  @apply flex flex-col min-h-[100vh];
}

.container {
  @apply max-w-[1475px] my-0 mx-auto px-[20px];

  @screen screenMax768 {
    @apply px-[15px];
  }

  @screen screenMax490 {
    @apply px-[10px];
  }
}

.section {
  @apply pb-[50px];

  @screen screenMax768 {
    @apply pb-[40px];
  }

  @screen screenMax490 {
    @apply pb-[30px];
  }
}

.page {
  @apply max-w-[1240px] w-full my-0 mx-auto;
}

.swiper-pagination {
  bottom: 2% !important;
  height: 20px !important;

  @screen screenMax768 {
    display: none;
  }
}
.swiper-pagination-bullet {
  @apply w-[14px] h-[14px] bg-white;

  @screen screenMax1366 {
    @apply w-[12px] h-[12px];
  }
}
